# Files and directories to ignore
node_modules
server/node_modules
npm-debug.log
.git
.gitignore
docker-compose.yml

# Don't ignore these files
!.env
!config-overrides.js

# Ensure build directory is not ignored
!build